<section class="author">
  <div class="authorimage box" style="background: url({{site.baseurl}}/assets/img/author.jpg)"></div>
  <div class="authorinfo box">
    <p class="biotitle">Soopace</p>
    <p class="biosubdesc">Machine Learning Learner.</p>
    <a class="icon" href="https://github.com/{{site.github_username}}" target="_blank"><img src="{{site.baseurl}}/assets/img/github-circle-64px.png"></a>
    <a class="icon" href="https://facebook.com/{{site.facebook_username}}" target="_blank"><img src="{{site.baseurl}}/assets/img/facebook-circle-64px.png"></a>
    <a class="icon" href="mailto:{{site.email}}" target="_blank"><img src="{{site.baseurl}}/assets/img/email-circle-64px.png"></a>
  </div>
</section>