{% capture cat %}{{ page.categories }}{% endcapture %}
{% for post in site.categories[cat] %}
  {% if post.title == page.title %}
    {% assign next_idx = forloop.index0 | minus: 1 %}
    <!-- <h2 id="{{cat}}">{{ next_idx }}</h2> -->
    <!-- <h2 id="{{cat}}">{{ site.categories[cat][next_idx].url }}</h2> -->
    {% assign prev_idx = forloop.index0 | plus: 1 %}
    <!-- <h2 id="{{cat}}">{{ prev_idx }}</h2> -->
    <!-- <h2 id="{{cat}}">{{ site.categories[cat][prev_idx].url }}</h2> -->
    {% break %}
  {% endif %}
{% endfor %}


{% if site.inter_post_navigation == true %}
  {% capture cat %}{{ page.categories | first }}{% endcapture %}
	<section class="post-navigation">
		<span class="prev-post">
			{% if site.categories[cat][prev_idx].url %}
				<a href="{{site.categories[cat][prev_idx].url | prepend: site.baseurl}}">
					<span class="fa-stack fa-lg">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
					</span>
					<span class="page-number">{{site.categories[cat][prev_idx].title}}</span>
				</a>
			{% endif %}
		</span>
		<span class="next-post">
			{% if site.categories[cat][next_idx].url and next_idx >=0 %}
				<a href="{{site.categories[cat][next_idx].url | prepend: site.baseurl}}">
					<span class="page-number">{{site.categories[cat][next_idx].title}}</span>
					<span class="fa-stack fa-lg">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			{% endif %}
		</span>
	</section>
{% endif %}
