<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <button class="collapse" href="#{{include.toggle-name}}">
          {% if include.button-text %} {{include.button-text}} {% else %} Codes {% endif %}
        </button>
      </h4>
    </div>
    <div id="{{include.toggle-name}}" class="collapse">
      <div class="panel-body">{{include.toggle-text | markdownify }}</div>
      <div class="panel-footer">{{include.footer}}</div>
    </div>
  </div>
</div>

<!-- Css 바꿀껏 -->
