---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article_header">
    <h1 id="article_top" itemprop="name headline">{{ page.title }}</h1>
    <p class="article_meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    <hr>
  </header>
  <div>
    <div class="table-of-contents">
      <h2> Contents </h2>
      {% include toc.html html=content h_min=1 h_max=2 class="toc-nav" %}
    </div>
    <div class="article-content" itemprop="articleBody">
      {{ page.content }}
    </div>
  </div>
  <footer class="article-footer">

  {% include tothetop.html %}
  {% include buymecoffee.html %}
  {% include author.html %}
  
  </footer>
  {% include dq.html %}
</article>
