---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article_header">
    <h1 id="article_top" itemprop="name headline">{{ page.title }}</h1>
    <p class="article_meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    <hr>
  </header>
  <div id="table-of-contents">
    <h2> Contents </h2>
    {{ content | toc_only }}
  </div>
  <div class="article-content" id="markdown-content" itemprop="articleBody">
    {{ content | inject_anchors }}
  </div>
  <!--
  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
  </div> -->

  <footer class="article-footer">

  {% include tothetop.html %}
  {% include buymecoffee.html %}
  {% include author.html %}
  
  </footer>
  {% include dq.html %}
</article>
